# Virtual Environment
.venv/
venv/

# Environment
.env

# Python
__pycache__/
*.py[cod]

# Logs
logs/
*.log

# Database
*.db
*.sqlite3

# Build
dist/
build/
*.egg-info/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db